
/* CSS HEX */
/* --onyx: #373a3aff; */
/* --platinum: #e1e1e1ff; */
/* --maximum-blue: #62b1caff; */
/* --blue-sapphire: #175f75ff; */
/* --rich-black-fogra-29: #040d10ff; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}