footer {
  background-color: #1f1f1f;
  border-top: solid 3px #62b1ca;
  color: #62b1ca;
  font-family: 'Jura';
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.social-media-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.social-media-list li {
  margin: 0 1rem;
}
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 1rem;
}
.author a {
  text-decoration: none;
  color: #62b1ca;
}
@media screen and (max-width: 650px) {
  footer {
    justify-content: space-evenly;
    align-items: center;
  }
  .author {
    position: static;
  }
}
@media screen and (max-width: 460px) {
  footer {
    flex-direction: column;
  }
}