nav {
  display: flex;
  flex: 1;
  align-items: center;
}
h1 {
  text-align: center;
}
nav h2, h1 {
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1px;
}
nav ul {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #e1e1e1;  
}
@media screen and (max-width: 750px) {
  nav h2 {
    font-size: 18px;
  }
}
.selected {
  padding: 10px 0;
  color: #62b1CA;
  border-bottom: 3px solid #62b1ca;
}

